<!-- * WATERMARK * -->
<div class="row mt-3 mb-4">
    <div class="col-md-6 mx-auto">
        <div class="card admin-badge-card">
            <div class="card-body">
                <h1 class="text-center pb-4 admin-badge">
                    <img [src]="logo"
                         alt="my ibd life logo" class="mil-logo" style="max-width:350px;"> <br>
                    <i class="{{favicon}}"></i>&nbsp;
                    {{ sectionName }}
                </h1>
            </div>
        </div>
    </div>
</div>
