<!-- * HOMEPAGE-EDIT * -->
<!-- * PAGE-HOME * -->
<app-logo-watermark [favicon]="favicon" [sectionName]="sectionName"></app-logo-watermark>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-default" (click)="lgModal.show()">
                    <i class="fa fa-glasses"></i>&nbsp;Preview
                </button>
            </div>
        </div>
    </div>
</div>

<!-- * Page Sections * -->
<div class="row mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ng-template #homeLoading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card">
                    <div class="card-body">
                        <div class="card bg-lighter inner-card">
                            <div class="card-body">
                                <form [formGroup]="homePageForm"
                                      (ngSubmit)="onHomePageSubmit(homePageForm.value)"
                                      *ngIf="homePage; else homeLoading">
                                    <h4>Section One</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec1Title">Title</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec1Title"
                                                       formControlName="sec1Title">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec1Subtitle">Subtitle</label>
                                                <textarea type="text"
                                                          class="form-control"
                                                          id="sec1Subtitle"
                                                          rows="3"
                                                          formControlName="sec1Subtitle">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec1ImageUrl">Image URL</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec1ImageUrl"
                                                       formControlName="sec1ImageUrl">
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="inset-hr"/>

                                    <h4>Section Two</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="sec2TextLeft">Left Text</label>
                                                <textarea type="text"
                                                          class="form-control"
                                                          id="sec2TextLeft"
                                                          rows="5"
                                                          formControlName="sec2TextLeft">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="sec2TextRight">Right Text</label>
                                                <textarea type="text"
                                                          class="form-control"
                                                          id="sec2TextRight"
                                                          rows="5"
                                                          formControlName="sec2TextRight">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="inset-hr"/>
                                    <h4>Section Three</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec3Title">Title</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec3Title"
                                                       formControlName="sec3Title">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="sec3CardLeftTitle">Left Title</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec3CardLeftTitle"
                                                       formControlName="sec3CardLeftTitle">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="sec3CardMiddleTitle">Middle Title</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec3CardMiddleTitle"
                                                       formControlName="sec3CardMiddleTitle">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="sec3CardRightTitle">Right Title</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec3CardRightTitle"
                                                       formControlName="sec3CardRightTitle">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="sec3CardLeftImageUrl">Left Image URL</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec3CardLeftImageUrl"
                                                       formControlName="sec3CardLeftImageUrl">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="sec3CardMiddleImageUrl">Middle Image URL</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec3CardMiddleImageUrl"
                                                       formControlName="sec3CardMiddleImageUrl">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="sec3CardRightImageUrl">Right Image URL</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec3CardRightImageUrl"
                                                       formControlName="sec3CardRightImageUrl">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec3Subtitle">Subtitle</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec3Subtitle"
                                                       formControlName="sec3Subtitle">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec3Text">Textarea</label>
                                                <ckeditor [formControl]="homePageForm.controls['sec3Text']"
                                                          id="sec3Text"
                                                          [readonly]="false"
                                                          debounce="200"
                                                          [config]="CkeditorConfig">
                                                </ckeditor>
                                            </div>
                                        </div>
                                    </div>


                                    <hr class="inset-hr"/>
                                    <h4>Section Four</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec4ImageUrl">Font Awesome Image</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec4ImageUrl"
                                                       formControlName="sec4ImageUrl">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec4Title">Title</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec4Title"
                                                       formControlName="sec4Title">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sec4Text">Middle Title</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="sec4Text"
                                                       formControlName="sec4Text">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group mt-4">
                                        <button class="btn btn-secondary btn-lg full-width">
                                            <i class="fa fa-home"></i>&nbsp;Save Home Page Content
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- * PREVIEW MODAL * -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">
                   <i class="fa fa-glasses"></i>&nbsp;Preview
                </h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- * HOME * -->
                <!-- * Section One * -->
                <div class="row section-one" *ngIf="homePage">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <h1 class="title">{{ sec1Title }}</h1>
                                <p class="subtitle">
                                    {{ sec1Subtitle }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row image-section" *ngIf="homePage">
                    <div class="container">
                        <div class="text-center">
                            <img [src]="sec1ImageUrl"
                                 style="width:200px; height:200px;"
                                 class="rounded-circle seal-img">
                        </div>
                    </div>
                </div>

                <!-- * Section Two * -->
                <div class="row section-two" *ngIf="homePage">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                {{ sec2TextLeft }}
                            </div>
                            <div class="col-md-6">
                                {{ sec2TextRight }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- * Section Three * -->
                <div class="row section-three" *ngIf="homePage">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col-sm-12 text-center">
                                <h2 class="serif">{{ sec3Title }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 offset-md-3 text-center">
                                <p>{{ sec3CardLeftTitle }}</p>
                                <p class="icons">
                                    <i [ngClass]="sec3CardLeftImageUrl"></i>
                                </p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p>{{ sec3CardMiddleTitle }}</p>
                                <p class="icons">
                                    <i [ngClass]="sec3CardMiddleImageUrl"></i>
                                </p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p>{{ sec3CardRightTitle }}</p>
                                <p class="icons">
                                    <i [ngClass]="sec3CardRightImageUrl"></i>
                                </p>
                            </div>
                        </div>

                        <div class="row text-center mt-5">
                            <div class="col-md-6 offset-md-3">
                                <h5 class="section-three-subtitle">
                                    {{ sec3Subtitle }}
                                </h5>
                                <p class="section-three-text mt-3">
                                    <span [innerHTML]="sec3Text"></span>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <img [src]="" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                                <img [src]="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- * Section Four * -->
                <div class="row section-four" *ngIf="homePage">
                    <div class="container text-center">
                        <div class="col-md-6 offset-md-3">
                            <p class="bottom-icon">
                                <i [ngClass]="sec4ImageUrl"></i>
                            </p>
                            <p class="section-four-text-top">
                                {{ sec4Title }}
                            </p>
                            <p class="section-four-text-bottom serif">
                                {{ sec4Text }}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

