<!-- * BOTTOM-SHEET * -->
<ul class="list-group">
    <li class="list-group-item">
        <a [routerLink]="['/pages/new']"
           (click)="openLink($event)">
            <i class="fal fa-layer-plus"></i> New Page
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/text-section/new']"
           (click)="openLink($event)">
            <i class="fal fa-align-justify"></i> New Text Section
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/call-to-action/new']"
           (click)="openLink($event)">
            <i class="fal fa-text-width"></i> New Call To Action
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/home']"
           (click)="openLink($event)">
            <i class="fal fa-home"></i> Home Page
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/categories/new']"
           (click)="openLink($event)">
            <i class="fal fa-calendar-plus"></i> New Category
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/cards/new']"
           (click)="openLink($event)">
            <i class="fal fa-window-restore"></i> New Rebate Card
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/images/uploader']"
           (click)="openLink($event)">
            <i class="fal fa-images"></i> New Image
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/files/uploader']"
           (click)="openLink($event)">
            <i class="fal fa-file"></i> New File
        </a>
    </li>
</ul>
