#stage {
    display: flex;
    width: 100%;
    height: 300px;
    /*background: url(https://firebasestorage.googleapis.com/v0/b/my-ibd-life-dev.appspot.com/o/images%2F2019%2F1552614544597_doctors.png?alt=media&token=cbe25a2c-e558-4273-9974-4df9f2d2631f) center center no-repeat;*/
    background-size: cover;
    background-color: var(--cloud);
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    min-height: 2000px;
}

img.banner-photo-url {
    width: 100%;
    position: absolute;
    top: 0;
    max-height: 350px;
    z-index: 1;
}


.flex-row {
    display: flex;
    justify-content: center;
}

.container.main {
    z-index: 2;
    /*position: fixed;*/
    /*top: 25% !important;*/
    margin-top: 10rem;
    background-color: #ffffff;
    /*left: 10%;*/
    /*right: 10%;*/
    /*padding: 5rem 0;*/
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.space {
    text-align: center;
    display: block;
}

h5.subtitle {
    font-family: var(--sans-serif);
    color: var(--ash);
}

h1.title {
    font-family: var(--sans-serif);
    color: var(--midnight);
    text-align: center;
    font-weight: 900;
}

p.summary {
    font-family: var(--sans-serif);
    color: var(--midnight);
    text-align: center;
    line-height: 2.2rem;
    font-size: 1.3rem;
    padding: 1rem 7rem 0 7rem;
    font-weight: 300;
}

.spacer {
    border-top: 1px solid var(--cloud) !important;
}

.text-sections {
    padding: 0 7rem 20rem 7rem;
    margin-bottom: 10rem;
}

.text-section {
    color: var(--midnight);
    font-family: var(--serif);
    margin-top: 3rem;
    font-size: 1.1rem !important;
    line-height: 1.8rem !important;
}

.cta {
    color: var(--midnight);
    font-family: var(--serif);
    margin-top: 3rem;
    font-size: 1.1rem !important;
    line-height: 1.8rem !important;
}

.row.cta-image-row {
    text-align: center;
}

img.cta-img {
    width: 100%;
    height: auto;
}

nav.fixed-bottom {
    z-index: 1000;
}
