nav#layout-navbar {
    background-color: var(--dark-blue);
    color: #9d9fa1;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    font-family: var(--cms-font) !important;
    font-size: 14px;
}

li > a.nav-link {
    font-family: var(--cms-font) !important;
    font-size: 14px;
    color: #9d9fa1;
    text-decoration: none;
}

img.user-image {
    max-width: 25px;
}

/* Navbar Button */
button.btn-open[mat-raised-button] {
    font-family: var(--cms-font) !important;
    color: #a3a4a6;
    border: 1px solid var(--matt-blue);
    background-color: var(--matt-blue);
    margin-right: 2em;
}

.btn-text {
    color: #a3a4a6;
    border-color: #a3a4a6;
    background-color: #292E3D;
}

button.btn-default {
    color: #a3a4a6;
}

button.btn-default:hover {
    color: #4E5155;
}

.current-date {
    color: #9d9fa1;
}

/* Mobile Queries */

/* Display on anything 992px and larger */
@media (min-width: 992px) {
    nav#layout-navbar {
        display: block;
    }

    nav.navbar.navbar-footer {
        display: none;
    }
}

/* Small devices (landscape phones, 991px and below) */
@media (max-width: 991px) {
    nav#layout-navbar {
        display: none;
    }

    nav.navbar.navbar-footer {
        display: block;
    }
}
