<!-- * PAGES-CARD-EDIT * -->

<!-- * Image Uploader * -->
<div class="mb-2 mt-5" [@simpleFadeAnimation]="'in'">
    <app-image-uploader-item></app-image-uploader-item>
</div>


<div class="row mb-4">
    <div class="container">
        <div class="offset-md-10">
            <a [routerLink]="['/cards']"
               class="btn btn-default">&nbsp; <i class="fa fa-window-restore"></i>
                All Cards
            </a>
        </div>
    </div>
</div>


<div class="container mb-5" [@simpleFadeAnimation]="'in'">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card bg-lighter inner-card">
                        <div class="card-body">
                            <div class="card-header-title">
                                <h4 *ngIf="card && card.title" class="text-truncate">
                                    Editing: ({{ card.title }})
                                    <small class="text-secondary"></small>
                                </h4>
                                <hr class="inset-hr mt-3 mb-3">
                            </div>
                            <form [formGroup]="editCardForm"
                                  (ngSubmit)="onUpdatePageCard(editCardForm.value)"
                                  *ngIf="card">

                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="input-group flex-nowrap">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                  id="imageUrl">
                                                <i class="fa fa-image"></i>
                                            </span>
                                            </div>
                                            <input type="url"
                                                   class="form-control"
                                                   placeholder="Image URL eg: https://icon.png"
                                                   aria-label="imageUrl"
                                                   aria-describedby="addon-wrapping"
                                                   [(ngModel)]="card.imageUrl"
                                                   [class.invalid]="!f.imageUrl.valid && f.imageUrl.touched"
                                                   formControlName="imageUrl">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                  id="title">
                                                <i class="fa fa-font"></i>
                                            </span>
                                        </div>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="My IBD Rebate"
                                               aria-label="title"
                                               required
                                               aria-describedby="addon-wrapping"
                                               [(ngModel)]="card.title"
                                               [class.invalid]="!f.title.valid && f.title.touched"
                                               formControlName="title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                  id="url">
                                                <i class="fa fa-link"></i>
                                            </span>
                                        </div>
                                        <input type="url"
                                               class="form-control"
                                               placeholder="https://gastro.org"
                                               aria-label="url"
                                               aria-describedby="url"
                                               [(ngModel)]="card.url"
                                               [class.invalid]="!f.url.valid && f.url.touched"
                                               formControlName="url">
                                    </div>
                                </div>


                                <!-- * ExtURL  * -->
                                <div class="form-group mt-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input ext-url"
                                               id="isExtUrl"
                                               [(ngModel)]="card.isExtUrl"
                                               formControlName="isExtUrl">
                                        <label class="custom-control-label ext-url"
                                               for="isExtUrl">External URL?
                                        </label>
                                    </div>
                                </div>

                                <button type="submit"
                                        [disabled]="!editCardForm.valid"
                                        class="btn btn-secondary full-width mb-3 mt-2">
                                    <i class="fa fa-window-restore"></i>&nbsp;Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- * Page BlogPost Item * -->
            <div class="card card-inner bg-lighter">
                <div class="card-body">
                    <p class="text-right">
                        <a class="btn btn-danger btn-sm text-white"
                           (click)="onDeletePageCard(card.id, card.title)">
                            <i class="fa fa-trash-alt"></i>&nbsp;Delete
                        </a>
                    </p>
                    <h6 class="alert alert-dark-dark text-center"
                        *ngIf="card && card.isExtUrl">
                        <i class="fa fa-check-square"></i> &nbsp;External URL
                    </h6>
                    <h6 class="alert alert-dark text-center"
                        *ngIf="card && !card.isExtUrl">
                        <i class="fa fa-times"></i> &nbsp;External URL
                    </h6>
                    <h4 class="card-header-title">Card Preview</h4>
                    <hr class="inset-hr">
                </div>
                <ng-template #cardPreview>
                    <div class="text-center p-4">
                        <img src="https://s3.amazonaws.com/DDW/ddw-org/images/gifs/ajax-loader-transp.gif"
                             alt="Waiting">
                        <!--<i class="fal fa-spinner-third fa-spin"></i>-->
                        <p class="card-preview">
                            Card will appear here...
                        </p>
                    </div>
                </ng-template>
                <div class="card inner-card ml-4 mr-4 mb-4 mt-0"
                     *ngIf="card && (card.title || card.imageUrl); else cardPreview">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <img class="text-left"
                                     style="max-width:70px;"
                                     [src]="card.imageUrl"
                                     [alt]="card.title"
                                     *ngIf="card.imageUrl">
                                <span class="card-tag text-center">
                                    <i class="fal fa-tag" *ngIf="!card.imageUrl"></i>
                                </span>
                            </div>
                            <div class="col">
                                <div class="card-preview-title">
                                    <a [href]="card.url" class="card-preview-title-link">
                                        {{ card.title }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
