hr.inset-hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 0;
}

.inner-card {
    border-radius: 0;
}

.ext-url {
    cursor: pointer;
}

.card-tag > i {
    color: var(--purple);
    font-size: 3rem;
}

.card-preview-title {
    padding-top: 0.7rem;
}

a.card-preview-title-link {
    color: var(--dark);
    font-size: 1.5rem;
}
